################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Lab3AV/v16/Browse.VC.opendb
/.vs/Lab3-AV/v16
/.vs
/visualstudio15
/framework_debug.exe
/framework_debug.pdb
/imgui.ini
